*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #EEE3FF;
}

@font-face {
    font-family: gotham-light;
    src: url("../fontes/gotham-light\ \(2\).woff2");
}

@font-face {
    font-family: gotham-bold;
    src: url("../fontes/gotham-bold.woff2");
}

.centralizar {
    background-color: #7140C0;
    width: 100%;
    display: flex;
   
}

.logo{
    width: 80px;
    border-radius: 100px;
    padding: 15px;
    margin-left: 100px;
}

#barra-de-pesquisa {
    border: #ffffff;
    background-color: #ffffff;
    border-radius: 20px;
    width: 600px;
    height: 35px  ;
    margin-top: 50px;
    margin: auto;
    margin-left: 350px;
    padding: 5px;
}

.lupa {
    width: 20px;
    margin: auto;
    margin-left: -210px;
}

.favorito {
    width: 30px;
    margin: auto;
    margin-left: 10px;
}

.carrinho {
    width: 30px;
    margin: auto; 
    margin-left: -30px;   
}

.perfil {
    width: 30px;
    margin: auto;
    margin-left: -30px;
}

.destaques {
    background-color: #CFBAF0;
    padding: 30px;
}

.feminina {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 400px;
}

.feminina {
    transition: 0.2s ease-in-out;
} 

.feminina:hover{
    border:solid 1px #7140C0;
}

.masculino {
    width: 80px;
    margin-left: 410px;
    border-radius: 50px;
    margin-left: 60px;
}

.masculino {
    transition: 0.2s ease-in-out;
} 

.masculino:hover{
    border:solid 1px #7140C0;
}

.infantil {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 60px;
}

.infantil {
    transition: 0.2s ease-in-out;
} 

.infantil:hover{
    border:solid 1px #7140C0;
}

.beleza {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 60px;
}

.beleza {
    transition: 0.2s ease-in-out;
} 

.beleza:hover{
    border:solid 1px #7140C0;
}

.esportivo {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 60px;
}

.esportivo {
    transition: 0.2s ease-in-out;
} 

.esportivo:hover{
    border:solid 1px #7140C0;
}

.acessorios {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 60px;
}

.acessorios {
    transition: 0.2s ease-in-out;
} 

.acessorios:hover{
    border:solid 1px #7140C0;
}

.ofertas {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 60px;
}

.ofertas {
    transition: 0.2s ease-in-out;
} 

.ofertas:hover{
    border:solid 1px #7140C0;
}

.palavras {
    display: flex;
}

#feminina {
    font-family: gotham-bold;
    margin-left: 432px;
    margin-top: -25px;
}

#masculino {
    font-family: gotham-bold;
    margin-left:  69px;
    margin-top: -25px;
}

#infantil {
    font-family: gotham-bold;
    margin-left:  75px;
    margin-top: -25px;
}

#beleza {    
    font-family: gotham-bold;
    margin-left:  88px;
    margin-top: -25px;
}

#esportivo {
    font-family: gotham-bold;
    margin-left:  78px;
    margin-top: -25px;
}

#acessorios {
    font-family: gotham-bold;
    margin-left: 60px;
    margin-top: -25px;
}

#ofertas {
    font-family: gotham-bold;
    margin-left: 70px;
    margin-top: -25px;
}

.barra-de-frete {
    background-color: #7140C0;
    display: flex;
    padding: 15px;
}

#frete {
    font-family: gotham-bold;
    color: #ffffff;
    font-size: 30px;
}

#frete2 {
    font-family: gotham-light;
    color: #ffffff;
    font-size: 30px;
}


#frete3 {
    font-family: gotham-bold;
    color: #ffffff;
    font-size: 30px;
}

#cumpo {
    font-family: gotham-light;
    color: #ffffff;
    font-size: 30px;
    margin-left: 90px;
}

#cumpo1 {
    font-family: gotham-bold;
    color: #ffffff;
    font-size: 30px;
}

#cumpo2 {
    font-family: gotham-light;
    color: #ffffff;
    font-size: 30px;
}


#cumpo3 {
    font-family: gotham-bold;
    color: #ffffff;
    font-size: 30px;
}

.imagem {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.imagem-do-desconto {
    width: 500px;
    margin-left: 300px;
    padding-top: 40px;
}

.black {
    font-family: gotham-bold;
    font-size: 100px;
    margin-left: 900px;
    margin-top: -500px;
}

.friday {
    font-family: gotham-bold;
    font-size: 100px;
    margin-left: 970px;
    margin-top: -10px;
}

.blackfriday{
    color: #7140C0;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { 
        color: white; 
    }
}

.comAte {
    display: flex;
}

.ate {
    font-size: 20px;
    font-family: gotham-light;
    color: #C68DE9;
}