*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: gotham-light;
    src: url("../fontes/gotham-light\ \(2\).woff2");
}

@font-face {
    font-family: gotham-bold;
    src: url("../fontes/gotham-bold.woff2");
}

.centralizar {
    background-color: #7140C0;
    width: 100%;
    display: flex;
   
}

.logo{
    width: 80px;
    border-radius: 100px;
    padding: 15px;
    margin-left: 100px;
}

#barra-de-pesquisa {
    border: #ffffff;
    background-color: #ffffff;
    border-radius: 20px;
    width: 600px;
    height: 35px  ;
    margin-top: 50px;
    margin: auto;
    margin-left: 350px;
    padding: 5px;
}

.lupa {
    width: 20px;
    margin: auto;
    margin-left: -210px;
}

.favorito {
    width: 30px;
    margin: auto;
    margin-left: 10px;
}

.carrinho {
    width: 30px;
    margin: auto; 
    margin-left: -30px;   
}

.perfil {
    width: 30px;
    margin: auto;
    margin-left: -30px;
}

.destaques {
    background-color: #CFBAF0;
    padding: 30px;
}

.feminina {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 400px;
}

.masculino {
    width: 80px;
    margin-left: 410px;
    border-radius: 50px;
    margin-left: 60px;
}

.infantil {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 60px;
}

.beleza {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 60px;
}

.esportivo {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 60px;
}

.acessorios {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 60px;
}

.ofertas {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 60px;
}

.palavras {
    display: flex;
    justify-content: center;
    align-items: center;
}

#feminina {
    font-family: gotham-bold;
    margin-left: 430px;
    margin-top: -20px;
}

#masculino {
    font-family: gotham-bold;
    margin-left: 570px;
    margin-top: -20px;
}

#infantil {
    font-family: gotham-bold;
    margin-left: 725px;
    margin-top: -20px;
}

#beleza {    
    font-family: gotham-bold;
    margin-left: 870px;
    margin-top: -20px;
}

#esportivo {
    font-family: gotham-bold;
    margin-left: 1005px;
    margin-top: -20px;
}

#acessorios {
    font-family: gotham-bold;
    margin-left: 1146px;
    margin-top: -20px;
}

#ofertas {
    font-family: gotham-bold;
    margin-left: 1300px;
    margin-top: -20px;
}

.barra-de-frete {
    background-color: #7140C0;
    display: flex;
    padding: 15px;
}

#frete {
    font-family: gotham-bold;
    font-size: 30px;
}

#frete2 {
    font-family: gotham-light;
    font-size: 30px;
}


#frete3 {
    font-family: gotham-bold;
    font-size: 30px;
}

#cumpo {
    font-family: gotham-light;
    font-size: 30px;
    margin-left: 90px;
}

#cumpo1 {
    font-family: gotham-bold;
    font-size: 30px;
}

#cumpo2 {
    font-family: gotham-light;
    font-size: 30px;
}


#cumpo3 {
    font-family: gotham-bold;
    font-size: 30px;
}

.imagem {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.imagem-do-desconto {
    width: 500px;
}